
<head>

    <link rel="stylesheet" href="~/css/Addbranches.css" asp-append-version="true" />


</head>


<body style="background: linear-gradient(#1c4c64,#5590ad);" id="Sbody">

    <partial name="_Notification" />
    <div class="row">

        <div class="col-sm-4" style="z-index:2;">

            <div class="vertical-nav bg-white" id="sidebar">
                <div class="py-4 px-3 mb-4 bg-light">
                    <div class="media d-flex align-items-center">
                        <img src="~/@ViewBag.OrganizationImage" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                        <div class="media-body">
                            <h4 class="m-0">@ViewBag.OrganizationName</h4>
                        </div>
                    </div>
                </div>
                <h5> مرحبا بك @ViewBag.Username </h5>

                <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">القائمة</p>

                <ul class="nav flex-column bg-white mb-0">
                    <li class="nav-item">
                        <a asp-controller="Branch" asp-action="Index" class="nav-link text-dark font-italic ">
                            <i class="fa-solid fa-house"></i>
                            الصفحة الرئيسية
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Branch" asp-action="ManageDepartment" class="nav-link text-dark font-italic  ">
                            <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                            إدارة الاقسام
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Branch" asp-action="ViewSupervisorsUser" class="nav-link text-dark font-italic  ">
                            <i class="fa-solid fa-building-user"></i>
                            إدارة مشرفين التدريب

                        </a>
                    </li>

                    <li class="nav-item">
                        <a asp-controller="branch" asp-action="ViewOpportunities" class="nav-link text-dark font-italic ">
                            <i class="fa-solid fa-person-chalkboard"></i>
                            إدارة الفرص
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="branch" asp-action="ViewDepartmentFiledSpecialties" class="nav-link text-dark font-italic  bg-light">
                            <i class="fa-solid fa-book-open-reader text-primary"></i>
                            إدارة التخصصات
                        </a>
                    </li>
                </ul>


            </div>


            <!-- End vertical navbar11 -->
            <!-- Page content holder11 -->
            <div class="page-content p-1" id="content">
                <!-- Toggle button11 -->
                <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">القائمة</small></button>
            </div>


        </div>

        <div class="col-sm-6">
            <div class="card " style="border-radius: 25px; margin-top:2cm; margin-bottom:3cm; padding:5px 5px 5px 5px ; border-color:black;">
                <div class="card-header" style="text-align: center;">
                    <h3>التخصصات المضافة</h3>



                    <a asp-controller="Branch" asp-action="AddDepartmentFiledSpecialties" class="table-search float-end">
                        <button class="btn " style="background-color:#1c4c64; color:white;font-size:18px" type="submit" asp>  اضافة تخصص جديد <i class="fa fa-add"></i></button>
                    </a>


                </div>
                <div class="card-body">
                    <div class="table-responsive no-radius">

                        <table class="table table-hover table-center" style="font-size:18px">
                            <thead>
                                <tr>

                                    <th>القسم</th>
                                    <th>التخصص</th>
                                    

                                    <th class="text-center">حذف  </th>




                                </tr>
                            </thead>

                            <tbody id="Tbody">
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-2"></div>
    </div>
</body>
@section Scripts{



    <script>

        FillTable();

        $(function () {
            // Sidebar toggle behavior
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
            });
        });





        function Delete(Id) {

            Swal.fire({
                title: 'تاكيد الحذف',
                text: "",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'نعم, احذف.!',
                cancelButtonText: 'الغاء',
            }).then((result) => {
                if (result.isConfirmed) {

                    $.ajax({
                        url: "@Url.Action("DeleteDepartmentTrainingArea")",
                        type: 'POST',
                        data: { id: Id },

                        success: function (data) {

                            if (data.success) {


                                // toastr.success(data.message);

                            }
                            else {

                                // toastr.error(data.message);
                            }

                            FillTable();
                        }


                    });



                }
            })



        }

        function FillTable() {
            var body = "";



            $(document).ready(function () {

                $.ajax({

                    url: "@Url.Action("GetDepartmentTrainingArea")",
                    type: 'GET',
                    dataType: "json",


                    success: function (data) {

                        $.each(data.departments, function (key, value) {



                            body += "<tr><td class='text-nowrap' ><div class='font-weight-600'><div class='font-weight-600'>" + value.department.departmentName + "</div>" +
                                "</div></td><td class='text-nowrap'>" + value.fieldOfSpecialtyDetails.specializationName + "</td><td class='text-center'>"
                                + `<button type='button' class='btn btn-danger' fdprocessedid='ezqldw' onclick ='Delete(${value.departmentTrainingAreaId})'> <i class='fa fa-trash-alt'> </i></button></td></tr>`


                            console.log(value);

                        });



                        $("#Tbody").html(body);



                    }


                });

            });
        }



    </script>


    }