@model IEnumerable<StudentSemesterEvaluationMark>
@{
    ViewData["Title"] = "قائمة المهام المطلوبة";
}

<head>

    <link rel="stylesheet" href="~/css/Addbranches.css" asp-append-version="true" />


</head>

<partial name="_Notification" />
<body style="background: linear-gradient(#1c4c64,#5590ad);">

    <div class="row">

        <div class="col-sm-4" style="z-index:2;">

            <div class="vertical-nav bg-white" id="sidebar">
                <div class="py-4 px-3 mb-4 bg-light">
                    <div class="media d-flex align-items-center">
                        <img src="~/@ViewBag.OrganizationImage" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                        <div class="media-body">
                            <h4 class="m-0">@ViewBag.OrganizationName</h4>
                        </div>
                    </div>
                </div>
                <h5> مرحبا بك @ViewBag.Username </h5>
                <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">القائمة</p>

                <ul class="nav flex-column bg-white mb-0">
                    <li class="nav-item">
                        <a asp-controller="AcadmicSupervisor" asp-action="index" class="nav-link text-dark font-italic ">
                            <i class="fa-solid fa-house  mr-3 text-primary fa-fw "></i>
                            الصفحة الرئيسية
                        </a>
                    </li>

                    

                    <li class="nav-item">
                        <a asp-controller="AcadmicSupervisor" asp-action="AssignSemester" class="nav-link text-dark font-italic bg-light ">
                            <i class="fa-solid fa-users-rectangle text-primary"></i>
                            الشعب الحالية
                        </a>
                    </li>


                </ul>


            </div>


            <!-- End vertical navbar1 -->
            <!-- Page content holder -->
            <div class="page-content p-1" id="content">
                <!-- Toggle button -->
                <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">القائمة</small></button>
            </div>


        </div>

        <div class="col-sm-6">
            <div class="card " style="border-radius: 25px; margin-top:2cm; margin-bottom:3cm; padding:5px 5px 5px 5px ; border-color:black;">
                <div class="card-header" style="text-align: center;">
                    <h3> المهام المطلوبة</h3>

                    <a class="btn  float-start" asp-controller="AcadmicSupervisor" asp-action="AssignedStudents" style="background-color:gray"><i class="fa-solid fa-circle-left fa-lg" style="color: #ffffff;"></i></a>



                </div>
                <div class="card-body">
                    <div class="table-responsive no-radius">

                        <table class="table table-hover table-center" style="font-size:18px">
                            <thead>
                                <tr>

                                    <th>اسم التقرير</th>

                                    <th class="text-center">عرض</th>


                                </tr>
                            </thead>
                            <tbody>



                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="text-nowrap">
                                            <div class="font-weight-600">
                                                <div class="font-weight-600 ">
                                                    @item.assessmentTypeDetail.assessmentType.AssessmentTypeName
                                                </div>

                                            </div>
                                        </td>

                                        <td class="text-center">

                                            <a class="btn btn-info" href="@Url.Action("EvaluateStudentAssignment",new {SSEMId=item.StudentSemesterEvaluationMarkId , StuRqId=ViewBag.CurrentStuRqId})"> <i class="bi bi-file-earmark-text"></i> </a>

                                        </td>


                                    </tr>

                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-2"></div>
    </div>
</body>
@section Scripts{



    <script>
        $(function () {
            // Sidebar toggle behavior
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
            });
        });

    </script>


    }