@model UserAcount
@{
    ViewData["Title"] = "تعديل الحساب";
}

<head>

    <link rel="stylesheet" href="~/css/Addbranches.css" asp-append-version="true" />


</head>

<partial name="_Notification" />
<body style="background: linear-gradient(#1c4c64,#5590ad);">

    <div class="row">


        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="card" style="border-radius: 25px; margin-top:2cm; margin-bottom:3cm; padding:5px 5px 5px 5px ; border-color:black;background-color:#dfebf2">
                <div class="card-body p-5">
                    <h2 class=" text-center mb-5">تعديل معلومات الحساب</h2>

                    <form asp-controller="AcadmicSupervisor" asp-action="EditAccount" method="post" class="needs-validation" enctype="multipart/form-data" novalidate>
                      
                        <div class="row">

                            <div class=" mb-4 pb-2">
                                <br />

                                <div class="form-outline" style="text-align: center;">

                                    <label class="form-label" for="FullName" style="font-size:30px;">مرحبا @ViewBag.Username  </label>


                                </div>


                            </div>

                        </div>




                        <div class="mb-4 pb-2">
                            <i class="fa-solid fa-lock"></i>
                            <label class="form-label" for="UserPassword" style="font-size:20px;"> كلمة المرور الجديدة <span style="color:red">* </span> </label>
                            <input type="password" id="UserPasswordID" class="form-control form-control-lg" required />
                            <div class="invalid-feedback" id="PasswordMassage" style="text-align: right;"> الرجاء إدخال كلمة المرور </div>

                        </div>

                        <div class="mb-4 pb-2">
                            <i class="fa-solid fa-lock"></i>
                            <label class="form-label" for="ConfirmUserPassword" style="font-size:20px;">تأكيد كلمة المرور <span style="color:red">* </span> </label>
                            <input asp-for="UserPassword" type="password"  id="ConfirmUserPasswordID" class="form-control form-control-lg"  required/>
                            <div class="invalid-feedback" id="ConfirmPasswordMassage" style="text-align: right;"> الرجاء تأكيد كلمة المرور </div>
                        </div>

                       

                      

                        

                        <br />
                        <div class="row">

                            <button type="submit" class="btn" style="background-color:#e6e291; font-size:18px;">تعديل</button>

                        </div>


                    </form>

                </div>
            </div>

        </div>

        <div class="col-sm-2"></div>

    </div>
</body>
@section Scripts{



    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        if (CustomValidation3()) {

                            event.preventDefault();
                            event.stopPropagation();
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()


        function CustomValidation3() {

            var password = document.getElementById("UserPasswordID");
            var confirmPassword = document.getElementById("ConfirmUserPasswordID");
            var CMassage = document.getElementById("ConfirmPasswordMassage");

            if (password.value !== confirmPassword.value) {

                confirmPassword.classList.remove('is-valid');
                confirmPassword.classList.add('is-invalid');

                CMassage.innerHTML = "يجب أن تكون كلمة المرور متطابقة";
                return true;
            }





            else {

                confirmPassword.classList.add('is-valid');

                confirmPassword.classList.remove('is-invalid');

                CMassage.innerHTML = "الرجاء تأكيد كلمة المرور";


            }

            return false;

        }

    </script>

    }

