@{
    ViewData["Title"] = "الصفحة الرئيسية";
}

<head>

    <link rel="stylesheet" href="~/css/Addbranches.css" asp-append-version="true" />


</head>

<partial name="_Notification" />
<body style="background: linear-gradient(#1c4c64,#5590ad); background-repeat: no-repeat;
            background-size: cover;
            height: 100vh; width: 100vw; /*padding:50px 5px 5px 5px;*/">

    <div class="row">

        <div class="col-sm-4" style="z-index:2;">

            <div class="vertical-nav bg-white" id="sidebar">
                <div class="py-4 px-3 mb-4 bg-light">
                    <div class="media d-flex align-items-center">
                        <img src="~/@ViewBag.OrganizationImage" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                        <div class="media-body">
                            <h4 class="m-0">@ViewBag.OrganizationName</h4>
                        </div>
                    </div>
                </div>
                <h5> مرحبا بك @ViewBag.Username </h5>

                <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">القائمة</p>

                <ul class="nav flex-column bg-white mb-0">
                    <li class="nav-item">
                        <a asp-controller="Company" asp-action="Index" class="nav-link text-dark font-italic bg-light">
                            <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
                            الصفحة الرئيسية
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Company" asp-action="ViewSpecialities" class="nav-link text-dark font-italic ">
                            <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                            إدارة مجالات التدريب
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Company" asp-action="viewUsers" class="nav-link text-dark font-italic">
                            <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
                            إدارة الموظفين

                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Company" asp-action="Viewbranches" class="nav-link text-dark font-italic ">
                            <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
                            إدارة الفروع
                        </a>
                    </li>
                  
                </ul>

              


            </div>


            <!-- End vertical navbar1 -->
            <!-- Page content holder1 -->
            <div class="page-content p-1" id="content">
                <!-- Toggle button -->
                <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">القائمة</small></button>
            </div>


        </div>

        <div class="col-sm-6">
            <div class="row"  >

                <div class="col-md-6 mb-4 pb-2">
            <div class="card text-white bg-warning mb-3 text-center" style="max-width: 30rem; " >
                        <div class="card-header" style="font-size:25px">  طلبات الالحتاق</div>
                <div class="card-body">
                    <h class="card-title" style="font-size:50px">60</h>
                    <p class="card-text"></p>
                </div>
            </div>

                    <div class="card text-white bg-info mb-3 text-center" style="max-width: 30rem;">
                        <div class="card-header" style="font-size:25px">الفرص المتاحة</div>
                <div class="card-body">
                            <h class="card-title" style="font-size:50px">60</h>
                    <p class="card-text"></p>
                </div>
            </div>
            </div>
                    <div class="col-md-6 mb-4 pb-2">
                    <div class="card bg-light mb-3 text-center" style="max-width: 30rem; ">
                        <div class="card-header" style="font-size:25px">طلاب تم تدريبهم </div>
                <div class="card-body">
                            <h class="card-title" style="font-size:50px">60</h>
                    <p class="card-text"></p>
                </div>
            </div>

                    <div class="card text-white bg-dark mb-3 text-center" style="max-width: 30rem;">
                        <div class="card-header" style="font-size:25px" >طلاب قيد التدريب </div>
                <div class="card-body">
                            <h class="card-title" style="font-size:50px">60</h>
                    <p class="card-text"></p>
                </div>
            </div>

            </div>
            </div>
            
        <div class="col-sm-2"></div>
    </div>
    </div>
</body>
@section Scripts{



    <script>
        $(function () {
            // Sidebar toggle behavior
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
            });
        });

    </script>


    }