@{
    ViewData["Title"] = "الصفحة الرئيسية";
}

<head>

    <link rel="stylesheet" href="~/css/Addbranches.css" asp-append-version="true" />

</head>

<partial name="_Notification" />
<body style="background: linear-gradient(#1c4c64,#5590ad); ">

    <div class="row">

        <div class="col-sm-4" style="z-index:2;">

            <div class="vertical-nav bg-white" style="position:absolute" id="sidebar">
                <div class="py-4 px-3 mb-4 bg-light">
                    <div class="media d-flex align-items-center">
                        <img src="~/@ViewBag.OrganizationImage" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                        <div class="media-body">
                            <h4 class="m-0">@ViewBag.OrganizationName</h4>
                        </div>
                    </div>
                </div>
                <h5> مرحبا بك @ViewBag.Username </h5>

                <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">القائمة</p>

                <ul class="nav flex-column bg-white mb-0">
                    <li class="nav-item">
                        <a asp-controller="Company" asp-action="Index" class="nav-link text-dark font-italic bg-light">
                            <i class="fa-solid fa-house  mr-3 text-primary fa-fw "></i>

                            الصفحة الرئيسية
                        </a>
                    </li>
                    <li class="nav-item" id="fff">
                        <a asp-controller="Company" asp-action="ViewSpecialities" class="nav-link text-dark font-italic ">
                            <i class="fa-brands fa-buffer mr-3  fa-fw  "></i>


                            إدارة مجالات التدريب
                        </a>
                    </li>
                    <li class="nav-item" id="ff2">
                        <a asp-controller="Company" asp-action="viewUsers" class="nav-link text-dark font-italic">
                            <i class="fa-solid fa-user-group "></i>
                            إدارة الموظفين

                        </a>
                    </li>
                    <li class="nav-item" id="ff3">
                        <a asp-controller="Company" asp-action="Viewbranches" class="nav-link text-dark font-italic ">
                            <i class="fa-solid fa-building  mr-3  fa-fw "></i>
                            إدارة الفروع
                        </a>
                    </li>

                </ul>

                <div>
                    <a class="btn " id="btn1">
                        <i class="fa-solid fa-person-circle-question"></i>
                        احتاج مساعدة

                    </a>
                </div>


            </div>


            <!-- End vertical navbar1 -->
            <!-- Page content holder1 -->
            <div class="page-content p-1" id="content">
                <!-- Toggle button -->
                <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">القائمة</small></button>
            </div>


        </div>

        <div class="col-sm-6">
            <div class="row">



                <div class="page-wrapper">
                    <div class="content container-fluid">
                        <div class="row">
                            <div class="col-xl-4 col-sm-4 col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="dash-widget-header">
                                            <span class="dash-widget-icon bg-primary">
                                                <i class="fa-solid fa fa-users"></i>
                                            </span>
                                            <div>
                                                <a>الفرص المتاحة في الشركة </a>

                                            </div>
                                            <a> @ViewBag.OperCount </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-sm-4 col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="dash-widget-header">
                                            <span class="badge bg-warning">
                                                <i class=" fa-solid fa-duotone fa-users" style="--fa-primary-color: #32589a; --fa-secondary-color: #b3b95f; --fa-secondary-opacity: 1.8;"></i>
                                            </span>
                                            <div class="dash-count">
                                                <a>عدد الطلاب قيد التدريب</a>
                                                <a> @ViewBag.Student </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-sm-4 col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="dash-widget-header">
                                            <span class="badge bg-primary">
                                                <i class="fe fe-comments"></i>
                                            </span>
                                            <div class="dash-count">
                                                <a>Chat Count</a>
                                                <a> 2,980</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 d-flex">

                                <div class="card card-table flex-fill">
                                    <div class="card-header">
                                        <h4 class="card-title float-start">User List</h4>

                                        <div class="table-search float-end" id="map">
                                        </div>

                                        <div id="piechart"></div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive no-radius">
                                        </div>
                                    </div>
                                </div>

                            </div>



                        </div>
                    </div>









                    @*<div class="col-md-6 mb-4 pb-2">
                    <div class="card text-white bg-warning mb-3 text-center" style="max-width: 30rem; " >
                    <div class="card-header" style="font-size:25px">  طلبات الالحتاق</div>
                    <div class="card-body">
                    <h class="card-title" style="font-size:50px">60</h>
                    <p class="card-text"></p>
                    </div>
                    </div>

                    <div class="card text-white bg-info mb-3 text-center" style="max-width: 30rem;">
                    <div class="card-header" style="font-size:25px">الفرص المتاحة</div>
                    <div class="card-body">
                    <h class="card-title" style="font-size:50px">60</h>
                    <p class="card-text"></p>
                    </div>
                    </div>
                    </div>
                    <div class="col-md-6 mb-4 pb-2">
                    <div class="card bg-light mb-3 text-center" style="max-width: 30rem; ">
                    <div class="card-header" style="font-size:25px">طلاب تم تدريبهم </div>
                    <div class="card-body">
                    <h class="card-title" style="font-size:50px">60</h>
                    <p class="card-text"></p>
                    </div>
                    </div>

                    <div class="card text-white bg-dark mb-3 text-center" style="max-width: 30rem;">
                    <div class="card-header" style="font-size:25px" >طلاب قيد التدريب </div>
                    <div class="card-body">
                    <h class="card-title" style="font-size:50px">60</h>
                    <p class="card-text"></p>
                    </div>
                    </div>

                    </div>*@
                </div>

                <div class="col-sm-2"></div>
            </div>
        </div>
</body>
@section Scripts{

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['طيبة', 9],
                ['الامام', 2],
                ['عزوز', 10],
                [' البترول', 6]

            ]);

            var options = {
                title: 'نسبة الطلاب  المتدريبن حسب كل جامعة'
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data, options);
        }
    </script>


    <script>
        $(function () {
            // Sidebar toggle behavior
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
            });
        });

        // giude tour
        document.getElementById('btn1')
            .addEventListener('click', function (event) {
                event.stopPropagation();

                const driver = new Driver();
                // Define Steps

                animate: false
                driver.defineSteps([
                    {
                        element: '#fff',
                        popover: {
                            //className: 'first-step-popover-class',
                            title: 'أولاً : اضف المجالات  ',
                            description: 'الرجاء اضافة جميع المجالات  التي تمتلكها الشركة .. علما بأن التخصصات المضافة هي التي ستظهر  للفروع ',
                            position: 'left',
                            closeBtnText: 'اغلق', // Text on the close button for this step
                            nextBtnText: 'التالي', // Next button text for this step
                            prevBtnText: 'السابق', // Previous button text for this step
                            doneBtnText: 'انتهيت', // Text on the final button


                        }
                    },
                    {
                        element: '#ff2',
                        popover: {
                            title: 'ثانياً : اضافة موظف مسؤول عن الفرع',
                            description: 'الرجاء اضافة المسؤول عن الفرع  ليتم تعيينه بالفرع المناسب لاحقاً',
                            position: 'left',
                            closeBtnText: 'اغلق', // Text on the close button for this step
                            nextBtnText: 'التالي', // Next button text for this step
                            prevBtnText: 'السابق', // Previous button text for this step
                            doneBtnText: 'انتهيت', // Text on the final button

                        }
                    },
                    {
                        element: '#ff3',
                        popover: {
                            title: 'ثالثاً : اضف الفروع  ',
                            description: 'الرجاء اضافة الفروع وتعيين مسؤول عن هذا الفرع ',
                            position: 'left',
                            closeBtnText: 'اغلق', // Text on the close button for this step
                            doneBtnText: 'انتهيت', // Text on the final button

                            nextBtnText: 'التالي', // Next button text for this step
                            prevBtnText: 'السابق', // Previous button text for this step
                        }
                    },

                ]);
                // Begin to guide
                driver.start();






            });
    </script>

    <script type="text/javascript">
        google.charts.load("current", {
            "packages": ["map"],
            // Note: you will need to get a mapsApiKey for your project.
            // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
            //  "mapsApiKey": "AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY" -
        });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Lat', 'Long', 'Name'],
                [24.467222481536577, 39.58013318629216, 'sds'],
                [24.507563, 39.594471, 'Airport'],
                [24.467222481536577, 39.58013318629216, 'Shopping'],
                [24.400928069147906, 39.62568173371517, 'Home']

            ]);

            var map = new google.visualization.Map(document.getElementById('map'));
            map.draw(data, {
                showTooltip: true,
                showInfoWindow: true
            });
        }

    </script>



    }