<div class="card card-table flex-fill">
    <div class="card-header" style="text-align: center;">
        <h3>مسؤولي الفروع</h3>



        <a asp-controller="Company" asp-action="AddUsers" class="table-search float-end">
            <button class="btn  btn-primary" type="submit" asp>  اضافة مسؤول جديد <i class="fa fa-add"></i></button>
        </a>


    </div>
    <div class="card-body">
        <div class="table-responsive no-radius">

            <table class="table table-hover table-center">
                <thead>
                    <tr>

                        <th>اسم المسؤول</th>
                        <th>رقم الهاتف</th>
                        <th class="text-center">البريد الالكتروني</th>
                        <th class="text-center">حذف  </th>




                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-nowrap">
                            <div class="font-weight-600">
                                <div class="font-weight-600 ">احمد حمدان</div>

                            </div>
                        </td>
                        <td class="text-nowrap"> 0559683335</td>
                        <td class="text-center">aaa@fff.com</td>

                        <td class="text-center">
                            <button type="button" class="btn btn-danger" fdprocessedid="ezqldw"><i class="fa fa-trash-alt"></i></button>

                        </td>
                    </tr>

                    <tr>
                        <td class="text-nowrap">
                            <div class="font-weight-600">
                                <div class="font-weight-600 "> صالح مصلح من صلاله</div>

                            </div>
                        </td>
                        <td class="text-nowrap"> 0559683335</td>
                        <td class="text-center"> dsfs@fgdg.com </td>

                        <td class="text-center">
                            <button type="button" class="btn btn-danger" fdprocessedid="ezqldw"><i class="fa fa-trash-alt"></i></button>

                        </td>
                    </tr>


                </tbody>
            </table>
        </div>
    </div>
</div>