@{
    ViewData["Title"] = "الصفحة الرئيسية";

}

<style>
    .dash-count {
        text-align: center;
    }

    .carddd:hover {
        background-color: rgba(122, 122, 122, 0.5);
    }

</style>

<partial name="_Notification" />

<h4> مرحبا بك @ViewBag.Name </h4>


<div class="content container-fluid mt-2">
    <div class="row">
        <div class="col-xl-3 col-sm-3 col-12"> </div>

        <div class="col-xl-3 col-sm-3 col-12">

            <div class="card carddd" type="button" value="uni" onclick="ChangeType(1)">
                <div class="card-body">
                    <div class="dash-widget-header">
                        <div class="dash-count">

                            <img src="/images/AppImages/school.png">
                            <h1>الجامعات</h1>
                            <h3> 3,500</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-3 col-12">
            <div class="card carddd" type="button" value="comp" onclick="ChangeType(2)">
                <div class="card-body">
                    <div class="dash-widget-header">
                        <div class="dash-count">
                            <img src="/images/AppImages/office-building.png">
                            <h1>الشركات</h1>
                            <h3> 2,555</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-3 col-12"> </div>
    </div>
    <div class="row m-lg-5 mt-0">
        <div class="col-md-12 d-flex">
            <div class="card card-table flex-fill">
                <div class="card-header">
                    <h4 class="card-title float-start">
                    </h4>
                    <div class="table-search float-start">
                        <button class="btn  btn-outline-primary" type="submit" onclick="ChangeType(0)" style="background-color:#e6e291;color:black;border:0px;font-size:18px;">ظهور الكل</button>     
                    </div>
                    <div class="col-sm-6">
                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group" style:"font-size:18px">

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" style="display:none" checked>
                            <label class="btn btn-outline-primary" for="btnradio1" style="display:none"></label>

                            <label class="btn btn-info rounded-end">
                                <input class="btn btn-info " type="radio" name="status" value="all" onclick="ChangeSatus('')" > الكل
                            </label>
                            <label class="btn btn-success">
                                <input type="radio" name="status" value="active"  onclick="ChangeSatus('Active')"> نشط
                            </label>
                            <label class="btn btn-warning active">
                                <input type="radio" name="status" value="inactive" checked="checked"  onclick="ChangeSatus('Not_Active')"> غير نشط
                            </label>
                            <label class="btn btn-danger rounded-start">
                                <input type="radio" name="status" value="expired" onclick="ChangeSatus('Rejected')"> مرفوض
                            </label>

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" style="display:none" checked>
                            <label class="btn btn-outline-primary" for="btnradio1" style="display:none"></label>

                        </div>

                    </div>

                </div>

                <div class="card-body">
                    <div class="table-responsive no-radius">

                        <table class="table table-hover table-center">
                            <thead>
                                <tr style="font-size: 1.2em;">


                                    <th>الاسم</th>
                                    <th>تاريخ الأنضمام</th>
                                    <th class="text-center">الحالة</th>
                                    <th class="text-center">التفاصيل</th>
                                </tr>
                            </thead>
                            <tbody id="tbody">
                            </tbody>


                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script>

        var type = 0;
        var ste = "";

        BasedOnstSatus('Not_Active', type);


        function ChangeType(v) {
            type = v;

            BasedOnstSatus(ste, type);
        }


        function ChangeSatus(x) {

            ste = x;

            BasedOnstSatus(ste, type);
        }


        //BasedOnstSatus("", type);

        function BasedOnstSatus(sta, stype) {
            var body = '';
            var sa = '';

            $(document).ready(function () {

                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetByActivationStatus")",

                    data: { status: sta, type: stype },

                    dataType: "json",
                    success: function (data) {


                        $.each(data.list, function (key, value) 
                        {

                            if (value.activationStatus == "Active")
                                sa = 'نشط';
                            if (value.activationStatus == "Not_Active")
                                sa = 'غير نشط';

                            if (value.activationStatus == "Rejected")
                                sa = 'مرفوض';

                            body +=

                                '<tr> <td class="text-nowrap font-weight-600"> ' +
                                value.organizationName + '</td><td class="text-nowrap font-weight-600" >' +
                                value.subscriptionDate.substr(0, 10) + '</td><td class=text-center font-weight-600  >' +
                                sa + '</td><td class=text-center font-weight-600  >' +
                                '<a class="btn btn-outline-primary" href="//localhost:7122/admin/OrganizationDetails/?id=' +
                                value.organizationId + ' " >تفاصيل الطلب</a>' + '</td></tr>';




                        });


                        ////$('#tbody')= body;
                        //$('#tbody').val() = body;
                        $('#tbody').html(body);


                    }
                });

            });
        }

    </script>
}

