
@{
    ViewData["Title"] = "الصفحة الرئيسية";
   
}




    <style>
        .dash-count {
            text-align: center;
        }

        .carddd:hover {
            background-color: rgba(122, 122, 122, 0.5);
        }
    </style>




<div class="content container-fluid">
    <div class="row">
        <div class="col-xl-3 col-sm-3 col-12"> </div>

        <div class="col-xl-3 col-sm-3 col-12">


            <div class="card carddd" type="button" value="uni" onclick="location.href='https://localhost:44367/admin/?TypeId=1';">
                <div class="card-body">
                    <div class="dash-widget-header">


                        

                        <div class="dash-count">


                            <img src="/images/AppImages/school.png">
                            <h1>الجامعات</h1>
                            <h3> 5,500</h3>



                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-3 col-12">

            <div class="card carddd" type="button" value="comp" onclick="location.href='https://localhost:44367/admin/?TypeId=2';">

                <div class="card-body">
                    <div class="dash-widget-header">



                        <div class="dash-count">

                            <img src="/images/AppImages/office-building.png">
                            <h1>الشركات</h1>
                            <h3> 10,555</h3>


                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="col-xl-3 col-sm-3 col-12"> </div>


    </div>
    <div class="row">
        <div class="col-md-12 d-flex">

            <div class="card card-table flex-fill">
                <div class="card-header">
                    <h4 class="card-title float-start">
                    </h4>
                    <form asp-action="index" method="get">
                        <div class="table-search float-end">
                            <input type="text" class="form-control" placeholder="Search">

                        </div>
                        <div class="table-search float-end">
                            <button class="btn  btn-outline-secondary" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                        <div class="table-search float-start">
                            <button class="btn  btn-outline-primary" type="submit">ظهور الكل</button>
                        </div>
                    </form>

                    <div class="col-sm-6">
                 

                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group" >

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio1"  autocomplete="off"  style="display:none" checked>
                            <label class="btn btn-outline-primary" for="btnradio1" style="display:none"></label>

                            <label class="btn btn-info active">
                                <input class="btn btn-info" type="radio" name="status" value="all" checked="checked" onclick="BasedOnstSatus('')"> الكل
                            </label>
                            <label class="btn btn-success">
                                <input type="radio" name="status" value="active" onclick="BasedOnstSatus('Active')"> نشط
                            </label>
                            <label class="btn btn-warning">
                                <input type="radio" name="status" value="inactive" onclick="BasedOnstSatus('Not_Active')"> غير نشط
                            </label>
                            <label class="btn btn-danger">
                                <input type="radio" name="status" value="expired"> مرفوض
                            </label>

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" style="display:none" checked>
                            <label class="btn btn-outline-primary" for="btnradio1" style="display:none"></label>

                        </div>

                    </div>



                   @* <div class="table-search float-end">
                        <select class="form-select " style="text-align: right" id="stauts" name="stauts">
                            <option value="" disabled selected> :الحالة</option>

                            <option value="Active">نشط </option>

                            <option value="non-Active" onclick="location.href='https://localhost:44367/admin/?TypeId=2';">غير نشط</option>
                            <option value="reject" onclick="location.href='https://localhost:44367/admin/?TypeId=2';"> مرفوض</option>

                        </select>
                    </div>*@
                  
                </div>
                <div class="card-body">
                    <div class="table-responsive no-radius">

                        <table class="table table-hover table-center">
                            <thead>
                                <tr>

                                   
                                    <th>الاسم</th>
                                    <th class="text-center">تاريخ الانضمام</th>
                                    <th class="text-center">الحالة</th>
                                    <th class="text-end">التفاصيل</th>
                               </tr>
                            </thead>

                            <tbody id="tbody">


                               
                            </tbody>

                  
                        </table>
                    </div>

                  

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{

  <script>

        BasedOnstSatus();


        function BasedOnstSatus(sta)
        {
            var body = '';
            var sa = '';
            $(document).ready(function () 
            {

                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetByActivationStatus")",

                    data: { status: sta },

                    dataType: "json",
                    success: function (data) 
                    {


                        $.each(data.list, function (key, value) {

                            if (value.activationStatus == "Active")
                                sa = 'نشط';
                            if (value.activationStatus == "Not_Active")
                                sa = 'غير نشط';
                            
                            body +=

                                '<tr> <td> ' + value.organizationName
                                + '</td><td>'
                                + value.subscriptionDate.substr(0, 10)
                                + '</td><td>'
                                +  sa
                                + '</td><td>'
                                + '<a class="btn btn-outline-primary" href="https://localhost:44367/admin/OrganizationDetails/?id=' + value.organizationId + ' " >تفاصيل الطلب</a>'
                                + '</td></tr>';
                                
                           
                         
                     
                       });


                        ////$('#tbody')= body;
                        //$('#tbody').val() = body;
                        $('#tbody').html(body);

                        
                    }
                });

            });
        }

      
 


    </script>
}

