@model StudentVM

@{
    ViewData["Title"] = "اضافة حساب للطلاب";
}

<head>

    <link rel="stylesheet" href="~/css/Addbranches.css" asp-append-version="true" />

</head>

<body style="background: linear-gradient(#1c4c64,#5590ad);">
    <div class="row">
        <div class="col-sm-4" style="z-index:2;">

            <div class="vertical-nav bg-white" id="sidebar">
                <div class="py-4 px-3 mb-4 bg-light">
                    <div class="media d-flex align-items-center">
                        <img src="~/@ViewBag.OrganizationImage" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                        <div class="media-body">
                            <h4 class="m-0">@ViewBag.OrganizationName</h4>
                        </div>
                    </div>
                </div>
                <h5> مرحبا بك @ViewBag.Username </h5>
                <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">القائمة</p>

                <ul class="nav flex-column bg-white mb-0">
                    <li class="nav-item">
                        <a asp-controller="DepartmentUniversity" asp-action="Index" class="nav-link text-dark font-italic  ">
                            <i class="fa-solid fa-house"></i>
                            الصفحة الرئيسية
                        </a>
                    </li>


                    <li class="nav-item">
                        <a asp-controller="DepartmentUniversity" asp-action="ViewAcademicSupervisors" class="nav-link text-dark font-italic  ">
                            <i class="fa-solid fa-users-gear"></i>
                            إدارة المشرفين
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="DepartmentUniversity" asp-action="ViewStudents" class="nav-link text-dark font-italic  bg-light ">
                            <i class="fa-solid fa-user-graduate text-primary"></i>

                            إدارة الطلاب
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="DepartmentUniversity" asp-action="ViewAssessment" class="nav-link text-dark font-italic ">
                            <i class="fa-solid fa-user-graduate"></i>

                            تحديد التقييمات
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="DepartmentUniversity" asp-action="ViewSemesters" class="nav-link text-dark font-italic ">
                            <i class="fa-solid fa-user-graduate"></i>

                            ادارة الفصول
                        </a>
                    </li>
                </ul>


            </div>


            <!-- End vertical navbar -->
            <!-- Page content holder -->
            <div class="page-content p-1" id="content">
                <!-- Toggle button -->
                <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">القائمة</small></button>
            </div>


        </div>

        <div class="col-sm-6">
            <div class="card" style="border-radius: 25px; margin-top:2cm; margin-bottom:3cm; padding:5px 5px 5px 5px ; border-color:black;background-color:#dfebf2">
                <div class="card-body p-5">
                    <h2 class=" text-center mb-5">إضافة طالب جديد</h2>

                    <form asp-controller="DepartmentUniversity" asp-action="AddStudents" method="post" class="needs-validation" novalidate>

                        <div class="row">

                            <div class=" mb-4 pb-2">
                                <br />

                                <div class="form-outline" style="text-align: right;">
                                    <i class="fa-solid fa-user"></i>
                                    <label class="form-label" for="FullName" style="font-size:20px;">الاسم الثلاثي  </label>

                                    <input asp-for="userAcount.FullName" type="text" id="FullNameID" class="form-control form-control-lg" required />

                                    <div class="invalid-feedback" style="text-align: right;">  الرجاء إدخال الاسم الثلاثي </div>
                                </div>


                            </div>

                        </div>

                        <div class="mb-4 pb-2">
                            <i class="fa-solid fa-clock"></i>
                            <label class="form-label" for="CompletedHours" style="font-size:20px;">عدد الساعات المكتسبة </label>
                            <input type="number" asp-for="UniversityTraineeStudent.CompletedHours" id="CompletedHours" class="form-control form-control-lg" required />
                            <div class="invalid-feedback" style="text-align: right;"> الرجاء إدخال عدد الساعات المكتسبة </div>
                        </div>

                        <div class="mb-4 pb-2">
                            
                            <label class="form-label" for="EmployeeSSN" style="font-size:20px;">الرقم الجامعي </label>
                            <input type="number" asp-for="UniversityTraineeStudent.UniversityStudentNumber" id="EmployeeSSN" class="form-control form-control-lg" required />
                            <div class="invalid-feedback" style="text-align: right;"> الرجاء إدخال الرقم الجامعي </div>
                        </div>


                        <div class="mb-4 pb-2">
                            
                            <label class="form-label" for="STUGPA" style="font-size:20px;">المعدل التراكمي  </label>
                            <input type="number" min="1.5" max="5.0" step="any" asp-for="UniversityTraineeStudent.GPA" id="STUGPA" class="form-control form-control-lg" required />
                            <div class="invalid-feedback" style="text-align: right;"> الرجاء إدخال المعدل التراكمي </div>
                        </div>


                        <div class="mb-4 pb-2">

                           

@*                            <label class="form-label" for="STUbtn" style="font-size:20px;"> </label>
*@
                            <br /> 
                            <div class="btn-group" style="width:60%" role="group" id="STUbtn" aria-label="Basic radio toggle button group">
                                <div class="btn-group" style="width:60%" role="group" id="STUbtn" aria-label="Basic radio toggle button group">

                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" style="display:none" checked>
                                    <label class="btn btn-outline-primary" for="btnradio1" style="display:none"></label>

                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" checked="">
                                    <label class="btn btn-dark rounded-end" style="background-color:#3ba1c5; width:50%" onclick="SetSTUGender('ذكر')" for="btnradio2">طالب</label>

                                    <input type="radio" class="btn-check btn-lg" name="btnradio" id="btnradio3" autocomplete="off" checked="">
                                    <label class="btn btn-dark rounded-start" style="background-color:#faa7e7;  width:50%" for="btnradio3" onclick="SetSTUGender('انثى')">طالبة</label>



                                    <input type="radio" class="btn-check " name="btnradio" id="btnradio1" autocomplete="off" style="display:none" checked>
                                    <label class="btn btn-outline-primary" for="btnradio1" style="display:none"></label>

                                </div>

                                <input type="text" asp-for="UniversityTraineeStudent.Gender" id="STUGender" class="form-control form-control-lg" required hidden />
                                &nbsp;&nbsp;
                                <div class="invalid-feedback" style="text-align: right;"> الرجاء تحديد النوع </div>

                            </div>
                            </div>
                            
                            

                            <div class="mb-4 pb-2">
                                <i class="fa-solid fa-phone"></i>
                                <label class="form-label" for="UserPhone" style="font-size:20px;">رقم جوال </label>
                                <input type="tel" asp-for="userAcount.Phone" id="PhoneID" maxlength="10" class="form-control form-control-lg" required />
                                <div class="invalid-feedback" id="PhoneIDMassage" style="text-align: right;"> الرجاء إدخال رقم الجوال </div>
                            </div>


                            <div class="mb-4 pb-2">
                                <i class="fa-solid fa-at"></i>
                                <label class="form-label" for="UserEmail" style="font-size:20px;">البريد الإلكتروني </label>
                                <input type="email" asp-for="userAcount.UserEmail" id="UserEmailID" class="form-control form-control-lg" required />
                                <div class="invalid-feedback" id="UserEmailMassage" style="text-align: right;"> الرجاء إدخال البريد الإلكتروني </div>
                            </div>


                            <div class="mb-4 pb-2">
                                <i class="fa-solid fa-lock"></i>
                                <label class="form-label" for="UserPassword" style="font-size:20px;">كلمة المرور</label>
                                <input type="password" id="UserPasswordID" class="form-control form-control-lg" required />
                                <div class="invalid-feedback" id="PasswordMassage" style="text-align: right;"> الرجاء إدخال كلمة المرور </div>

                            </div>

                            <div class="mb-4 pb-2">
                                <i class="fa-solid fa-lock"></i>
                                <label class="form-label" for="ConfirmUserPassword" style="font-size:20px;">تأكيد كلمة المرور</label>
                                <input asp-for="userAcount.UserPassword" type="password" id="ConfirmUserPasswordID" class="form-control form-control-lg" required />
                                <div class="invalid-feedback" id="ConfirmPasswordMassage" style="text-align: right;"> الرجاء تأكيد كلمة المرور </div>
                            </div>

                            <br />
                            <div class="row">

                                <button type="submit" class="btn" style="background-color:#e6e291; font-size:18px;">إضافة</button>

                            </div>


                    </form>

                </div>
            </div>

        </div>

        <div class="col-sm-2"></div>
    </div>


</body>

@section Scripts{



    <script>

        //for moving navbar side

        $(function () {
            // Sidebar toggle behavior
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
            });
        });

        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {

                            event.preventDefault();
                            event.stopPropagation();
                        }

                        if (CustomValidation()) {

                            event.preventDefault();
                            event.stopPropagation();
                        }

                        if (CustomValidation2()) {

                            event.preventDefault();
                            event.stopPropagation();
                        }

                        if (CustomValidation3()) {

                            event.preventDefault();
                            event.stopPropagation();
                        }
                        if (CustomValidation4()) {

                            event.preventDefault();
                            event.stopPropagation();
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()

        function CustomValidation() {


            var E = document.getElementById("UserEmailID");

            var EM = document.getElementById("UserEmailMassage");

            $(document).ready(function () {

                $.ajax({
                    type: "GET",
                    url: "@Url.Action("EmailExists")",

                    data: { Email: E.value },

                    dataType: "json",
                    success: function (data) {
                        if (data.exists) {
                            E.classList.remove('is-valid');

                            E.classList.add('is-invalid');

                            EM.innerHTML = "الايميل مسجل مسبقا في النظام";

                            return true;

                        }
                        else {

                            E.classList.add('is-valid');

                            E.classList.remove('is-invalid');

                            EM.innerHTML = "الرجاء إدخال البريد الإلكتروني";


                        }
                    }
                });

            });


            return false;
        }


        function CustomValidation2() {

            var P = document.getElementById("PhoneID");
            var PM = document.getElementById("PhoneIDMassage");



            if (P.value.length != 10) {

                P.classList.remove('is-valid');
                P.classList.add('is-invalid');

                PM.innerHTML = "يجب أن يكون رقم الجوال مكون من عشرة أرقام";
                return true;
            }



            if ((P.value.charAt(0) != 0)) {
                P.classList.remove('is-valid');
                P.classList.add('is-invalid');

                PM.innerHTML = "05******** يجب أن يبدأ رقم الجوال بـ ";
                return true;

            }

            if ((P.value.charAt(1) != 5)) {
                P.classList.remove('is-valid');
                P.classList.add('is-invalid');

                PM.innerHTML = " 05******** يجب أن يبدأ رقم الجوال بـ ";
                return true;

            }

            else {

                P.classList.add('is-valid');

                P.classList.remove('is-invalid');

                PM.innerHTML = "الرجاء إدخال رقم الجوال";


            }

            return false;

        }

        function CustomValidation3() {

            var password = document.getElementById("UserPasswordID");
            var confirmPassword = document.getElementById("ConfirmUserPasswordID");
            var CMassage = document.getElementById("ConfirmPasswordMassage");

            if (password.value !== confirmPassword.value) {

                confirmPassword.classList.remove('is-valid');
                confirmPassword.classList.add('is-invalid');

                CMassage.innerHTML = "يجب أن تكون كلمة المرور متطابقة";
                return true;
            }





            else {

                confirmPassword.classList.add('is-valid');

                confirmPassword.classList.remove('is-invalid');

                CMassage.innerHTML = "الرجاء تأكيد كلمة المرور";


            }

            return false;

        }

        function CustomValidation4() {

            var P = document.getElementById("PhoneID");
            var PM = document.getElementById("PhoneIDMassage");

            $(document).ready(function () {

                $.ajax({
                    type: "GET",
                    url: "@Url.Action("PhoneExists")",

                    data: { Phone: P.value },

                    dataType: "json",
                    success: function (data) {
                        if (data.exists) {

                            P.classList.remove('is-valid');

                            P.classList.add('is-invalid');

                            PM.innerHTML = "رقم الهاتف مسجل مسبقا في النظام";

                            return true;

                        }
                        else {

                            P.classList.add('is-valid');

                            P.classList.remove('is-invalid');

                            PM.innerHTML = "الرجاء إدخال رقم الجوال";


                        }
                    }
                });

            });


            return false;
        }


        function SetSTUGender(G) {


            document.getElementById("STUGender").value = G;
           
        }


    </script>


    }