@model SemesterMasterVM

@{
    ViewData["Title"] = "اضافة حساب مشرف اكاديمي";
}

<head>

    <link rel="stylesheet" href="~/css/Addbranches.css" asp-append-version="true" />

</head>

<body style="background: linear-gradient(#1c4c64,#5590ad);">
    <div class="row">
        <div class="col-sm-4" style="z-index:2;">

            <div class="vertical-nav bg-white" id="sidebar">
                <div class="py-4 px-3 mb-4 bg-light">
                    <div class="media d-flex align-items-center">
                        <img src="~/@ViewBag.OrganizationImage" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                        <div class="media-body">
                            <h4 class="m-0">@ViewBag.OrganizationName</h4>
                        </div>
                    </div>
                </div>
                <h5> مرحبا بك @ViewBag.Username </h5>
                <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">القائمة</p>

                <ul class="nav flex-column bg-white mb-0">
                    <li class="nav-item">
                        <a asp-controller="DepartmentUniversity" asp-action="Index" class="nav-link text-dark font-italic  ">
                            <i class="fa-solid fa-house"></i>
                            الصفحة الرئيسية
                        </a>
                    </li>


                    <li class="nav-item">
                        <a asp-controller="DepartmentUniversity" asp-action="ViewAcademicSupervisors" class="nav-link text-dark font-italic  bg-light   ">
                            <i class="fa-solid fa-users-gear text-primary"></i>
                            إدارة المشرفين
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="DepartmentUniversity" asp-action="ViewStudents" class="nav-link text-dark font-italic ">
                            <i class="fa-solid fa-user-graduate"></i>

                            إدارة الطلاب
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="DepartmentUniversity" asp-action="ManageAssessment" class="nav-link text-dark font-italic ">
                            <i class="fa-solid fa-user-graduate"></i>

                            تحديد التقييمات
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="DepartmentUniversity" asp-action="ViewSemesters" class="nav-link text-dark font-italic ">
                            <i class="fa-solid fa-user-graduate"></i>

                            ادارة الشعب
                        </a>
                    </li>
                </ul>


            </div>


            <!-- End vertical navbar -->
            <!-- Page content holder -->
            <div class="page-content p-1" id="content">
                <!-- Toggle button -->
                <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">القائمة</small></button>
            </div>


        </div>

        <div class="col-sm-6">
            <div class="card" style="border-radius: 25px; margin-top:2cm; margin-bottom:3cm; padding:5px 5px 5px 5px ; border-color:black;background-color:#dfebf2">
                <div class="card-body p-5">
                    <h2 class=" text-center mb-5">إضافة مشرف اكاديمي</h2>

                    <form asp-controller="DepartmentUniversity" asp-action="AddSemesters" method="post" class="needs-validation" enctype="multipart/form-data" novalidate>

                        <div class="row">

                            <div class=" mb-4 pb-2">
                                <br />

                                <div class="form-outline" style="text-align: right;">
                                    <i class="fa-solid fa-user"></i>
                                    <label class="form-label" for="FullName"  style="font-size:20px;">السنة</label>

                                    <input asp-for="SemesterTrainingSettingMaster.AcademicYear" placeholder="2023" type="text" id="FullNameID" class="form-control form-control-lg" required />

                                    <div class="invalid-feedback" style="text-align: right;"> الرجاء إدخال السنة الدراسية </div>
                                </div>


                            </div>

                        </div>

                        <div class="mb-4 pb-2">
                            <label class="form-label" for="EmployeeSSN" style="font-size:20px;">   حدد نوع الفصل </label>
                            <select asp-for="SemesterTrainingSettingMaster.SemesterType" class="form-select" id="validationCustom04" required>
                                <option selected disabled value="">-- نوع الفصل --</option>
                                <option value="الفصل الاول">الفصل الاول </option>
                                <option value="الفصل الثاني">الفصل الثاني </option>
                                <option value="الفصل الثالث">الفصل الثالث </option>
                                <option value="صيفي"> صيفي </option>

                            </select>
                            <div class="invalid-feedback" style="text-align: right;"> الرجاء اختيار نوع الفصل </div>

                        </div>

                        <div class="mb-4 pb-2">
                            <i class="fa-regular fa-id-card"></i>
                            <label class="form-label" for="EmployeeSSN" style="font-size:20px;"> تاريخ بداية الفصل </label>
                            <input type="date" asp-for="SemesterTrainingSettingMaster.StartDate" id="EmployeeSSN" class="form-control form-control-lg" required />
                            <div class="invalid-feedback" style="text-align: right;"> الرجاء إدخال تاريخ بداية الفصل </div>
                        </div>


                        <div class="mb-4 pb-2">
                            <i class="fa-solid fa-phone"></i>
                            <label class="form-label" for="UserPhone" style="font-size:20px;">تاريخ نهاية الفصل</label>
                            <input type="date" asp-for="SemesterTrainingSettingMaster.EndDate" id="PhoneID" maxlength="10" class="form-control form-control-lg" required />
                            <div class="invalid-feedback" id="PhoneIDMassage" style="text-align: right;"> الرجاء إدخال تاريخ نهاية الفصل </div>
                        </div>



                        <div class="mb-4 pb-2">
                            <label class="form-label" for="EmployeeSSN" style="font-size:20px;">    نوع التدريب </label>

                            <select asp-for="SemesterTrainingSettingMaster.TrainingType_TrainingTypeId" asp-items="@Model.TrainingTypeListItems" class="form-select" id="validationCustom04" required>
                            <option selected disabled value="">-- نوع التدريب --</option>

                            </select>
                            <div class="invalid-feedback" style="text-align: right;"> الرجاء تحديد نوع التدريب  </div>

                        </div>

                        <div class="mb-4 pb-2">

                            <label for="LogoPathFile" class="form-label mt-4" style="font-size:20px;"> ارفق ملف التقييم الخاص للمشرف التدريبي </label>

                            @* //(imgFile)هنا اسم الملف الصورة مهم يطابق الاسم في الكنترولر لنه سيتم ارساله مع المودل.*@
                            <input type="file" id="uploadField"  name="CvFile" class="form-control" accept=".pdf" required />
                            <div class="invalid-feedback" style="text-align: right;"> الرجاء إرفاق الملف بصيغة(.pdf) </div>

                        </div>


                        <div class="mb-4 pb-2">
                            <i class="fa-solid fa-at"></i>
                            <label class="form-label" for="UserEmail" style="font-size:20px;">عدد الاسابيع المطلوبة</label>
                            <input type="number" asp-for="SemesterTrainingSettingMaster.RequiredWeeks" id="UserEmailID" class="form-control form-control-lg" required />
                            <div class="invalid-feedback" id="UserEmailMassage" style="text-align: right;"> الرجاء إدخال عدد الاسابيع المطلوبة </div>
                        </div>


                        <div class="mb-4 pb-2">
                            <i class="fa-solid fa-lock"></i>
                            <label class="form-label" for="UserPassword" style="font-size:20px;">عدد الساعات المطلوبة</label>
                            <input type="number" asp-for="SemesterTrainingSettingMaster.MinimumRequiredHours" id="UserPasswordID" class="form-control form-control-lg" required />
                            <div class="invalid-feedback" id="PasswordMassage" style="text-align: right;">الرجاء إدخال عدد الساعات المطلوبة  </div>

                        </div>

                       @* <div class="mb-4 pb-2">
                            <i class="fa-solid fa-lock"></i>
                            <label class="form-label" for="ConfirmUserPassword" style="font-size:20px;">تأكيد كلمة المرور</label>
                            <input asp-for="userAcount.UserPassword" type="password" id="ConfirmUserPasswordID" class="form-control form-control-lg" required />
                            <div class="invalid-feedback" id="ConfirmPasswordMassage" style="text-align: right;"> الرجاء تأكيد كلمة المرور </div>
                        </div>*@

                        <br />
                        <div class="row">

                            <button type="submit" class="btn" style="background-color:#e6e291; font-size:18px;">إضافة شعبة </button>

                        </div>


                    </form>

                </div>
            </div>

        </div>

        <div class="col-sm-2"></div>
    </div>


</body>

@section Scripts{
    @{


        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function () {
                'use strict'

                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.querySelectorAll('.needs-validation')

                // Loop over them and prevent submission
                Array.prototype.slice.call(forms)
                    .forEach(function (form) {
                        form.addEventListener('submit', function (event) {
                            if (!form.checkValidity()) {
                                event.preventDefault()
                                event.stopPropagation()
                            }

                            form.classList.add('was-validated')
                        }, false)
                    })
            })()


        </script>

    }
    }