@{
    ViewData["Title"] = "الصفحة الرئيسية";
}

<head>

    <link rel="stylesheet" href="~/css/Addbranches.css" asp-append-version="true" />


</head>

<partial name="_Notification" />
<body style="background: linear-gradient(#1c4c64,#5590ad);">

<div class="row" >
    <div class="col-sm-4" style="z-index:2;">

        <div class="vertical-nav bg-white" style="position:absolute"  id="sidebar">
            <div class="py-4 px-3 mb-4 bg-light">
                <div class="media d-flex align-items-center">
                    <img src="~/@ViewBag.OrganizationImage" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                    <div class="media-body">
                        <h4 class="m-0">@ViewBag.OrganizationName</h4>
                    </div>
                </div>
            </div>
                <h5> مرحبا بك @ViewBag.Username </h5>
            <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">القائمة</p>

            <ul class="nav flex-column bg-white mb-0">
                <li class="nav-item">
                        <a asp-controller="DepartmentUniversity" asp-action="Index" class="nav-link text-dark font-italic bg-light ">
                            <i class="fa-solid fa-house text-primary"></i>
                        الصفحة الرئيسية
                    </a>
                </li>


                <li class="nav-item" id="fff">
                    <a asp-controller="DepartmentUniversity" asp-action="ViewAcademicSupervisors" class="nav-link text-dark font-italic  ">
                            <i class="fa-solid fa-users-gear"></i>
                           إدارة المشرفين
                    </a>
                    <li class="nav-item" id="ff2">
                        <a asp-controller="DepartmentUniversity" asp-action="ViewStudents" class="nav-link text-dark font-italic ">
                            <i class="fa-solid fa-people-roof"></i>

                            إدارة الطلاب
                        </a>

                    </li>
                    <li class="nav-item" id="ff3"> 
                        <a asp-controller="DepartmentUniversity" asp-action="ViewAssessment" class="nav-link text-dark font-italic  ">
                            <i class="fa-solid fa-chart-simple "></i>

                            تحديد التقييمات
                        </a>
                    </li>
                    <li class="nav-item" id="ff4">
                        <a asp-controller="DepartmentUniversity" asp-action="ViewSemesters" class="nav-link text-dark font-italic ">
                            <i class="fa-solid fa-door-closed"></i>

                            ادارة الفصول
                        </a>
                    </li>
             
            </ul>
                <div>
                    <a class="btn " id="btn1">
                        <i class="fa-solid fa-person-circle-question"></i>
                        احتاج مساعدة

                    </a>
                </div>

        </div>


        <!-- End vertical navbar -->
        <!-- Page content holder -->
        <div class="page-content p-1" id="content">
            <!-- Toggle button -->
            <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">القائمة</small></button>
        </div>


    </div>

    <div class="col-sm-6">


        @*        content page here1
        *@
        @*        content page1 
        *@

    </div>
    <div class="col-sm-2"></div>
</div>
</body>
@section Scripts{



    <script>

        $(function () {
            // Sidebar toggle behavior
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
            });
        });

        // giude tour
        document.getElementById('btn1')
            .addEventListener('click', function (event) {
                event.stopPropagation();

                const driver = new Driver();
                // Define Steps

                animate: false
                driver.defineSteps([
                    {
                        element: '#fff',
                        popover: {
                            //className: 'first-step-popover-class',
                            title: 'أولاً :  اضافة المشرفين ',
                            description: 'الرجاء اضافة المشرفين الكاديميين لتعيينهم داخل الفصل لاحقاً',
                            position: 'left',
                            closeBtnText: 'اغلق', // Text on the close button for this step
                            nextBtnText: 'التالي', // Next button text for this step
                            prevBtnText: 'السابق', // Previous button text for this step
                            doneBtnText: 'انتهيت', // Text on the final button


                        }
                    },
                    {
                        element: '#ff2',
                        popover: {
                            title: 'ثانياً : اضافة الطلاب',
                            description: 'الرجاء اضافة الطلاب لتعيينهم بالفصل وتعيين مشرف اكاديمي لهم  لاحقاً',
                            position: 'left',
                            closeBtnText: 'اغلق', // Text on the close button for this step
                            nextBtnText: 'التالي', // Next button text for this step
                            prevBtnText: 'السابق', // Previous button text for this step
                            doneBtnText: 'انتهيت', // Text on the final button

                        }
                    },
                    {
                        element: '#ff3',
                        popover: {
                            title: 'ثالثاً : اضف التقييمات ',
                            description: 'الرجاء اضافة جميع التقييمات المطلوبة من الطالب .. علما بأن التقييمات ستظهر للمشرف الاكاديمي وسيعينها للطالب كا مطلوب او واجب',
                            position: 'left',
                            closeBtnText: 'اغلق', // Text on the close button for this step
                            doneBtnText: 'انتهيت', // Text on the final button

                            nextBtnText: 'التالي', // Next button text for this step
                            prevBtnText: 'السابق', // Previous button text for this step
                        }
                    },
                    {
                        element: '#ff4',
                        popover: {
                            title: 'رابعاً :اضافة الفصل  ',
                            description: '   اضف الفصل الدراسي المراد فية بداية التدريب , تعيين المشرفين للطلاب داخل هذا الفصل  (حالة الفصل تتغير حسب تاريخ البداية والنهاية للفصل) ',
                            position: 'left',
                            doneBtnText: 'انتهيت', // Text on the final button
                            closeBtnText: 'اغلق', // Text on the close button for this step
                            nextBtnText: 'التالي', // Next button text for this step
                            prevBtnText: 'السابق', // Previous button text for this step
                        }
                    },
                ]);
                // Begin to guide
                driver.start();






            });

    </script>


    }