@{
    ViewData["Title"] = "قائمة  الطلاب الراغبين بالتدريب";
}

<head>

    <link rel="stylesheet" href="~/css/Addbranches.css" asp-append-version="true" />

</head>

<style>
    .triangle-up {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 20px solid #555;
        position: relative;
        right: 253px;
        top: 60px;
    }

    .triangle-down {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 20px solid #555;
        position: relative;
        right: 253px;
        top: 65px;
    }
</style>

<partial name="_Notification" />
<body style="background: linear-gradient(#1c4c64,#5590ad);">

    <div class="row" >

        <div class="col-sm-3" style="z-index:2;">

            <div class="vertical-nav bg-white" id="sidebar">
                <div class="py-4 px-3 mb-4 bg-light">
                    <div class="media d-flex align-items-center">
                        <img src="~/@ViewBag.OrganizationImage" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                        <div class="media-body">
                            <h4 class="m-0">@ViewBag.OrganizationName</h4>
                        </div>
                    </div>
                </div>
                <h5> مرحبا بك @ViewBag.Username </h5>
                <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">القائمة</p>

                <ul class="nav flex-column bg-white mb-0">
                    <li class="nav-item">
                        <a asp-controller="DepartmentUniversity" asp-action="Index" class="nav-link text-dark font-italic  ">
                            <i class="fa-solid fa-house"></i>
                            الصفحة الرئيسية
                        </a>
                    </li>


                    <li class="nav-item">
                        <a asp-controller="DepartmentUniversity" asp-action="ViewAcademicSupervisors" class="nav-link text-dark font-italic  ">
                            <i class="fa-solid fa-users-gear"></i>
                            إدارة المشرفين
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="DepartmentUniversity" asp-action="ViewStudents" class="nav-link text-dark font-italic   bg-light  ">
                            <i class="fa-solid fa-people-roof text-primary"></i>

                            إدارة الطلاب
                        </a>
                    </li>
                    
                    <li class="nav-item">
                        <a asp-controller="DepartmentUniversity" asp-action="ViewAssessment" class="nav-link text-dark font-italic  ">
                            <i class="fa-solid fa-chart-simple "></i>

                            تحديد التقييمات
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="DepartmentUniversity" asp-action="ViewSemesters" class="nav-link text-dark font-italic ">
                            <i class="fa-solid fa-door-closed"></i>

                            ادارة الفصول
                        </a>
                    </li>

                </ul>


            </div>


            <!-- End vertical navbar1 -->
            <!-- Page content holder1 -->
            <div class="page-content p-1" id="content">
                <!-- Toggle button1 -->
                <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">القائمة</small></button>
            </div>

        </div>

        <div class="col-sm-8">
            <div class="card " style="border-radius: 25px; margin-top:2cm; margin-bottom:3cm; padding:5px 5px 5px 5px ; border-color:black;">
                <div class="card-header" style="text-align: center;">
                    <h3> الطلاب الراغبين بالتدريب</h3>


                    <a asp-controller="DepartmentUniversity" asp-action="AddStudents" class="table-search float-end">
                        <button class="btn " style="background-color:#1c4c64; color:white;font-size:18px" type="submit" asp>  اضافة طالب جديد <i class="fa fa-add"></i></button>
                    </a>

                </div>


                <div class="row m-lg-5 mt-0">
                    <div class="col-md-12 d-flex">

                        <div class="card card-table flex-fill">
                            <div class="card-header">
                                <h4 class="card-title float-start">
                                </h4>
                                <div class="table-search float-start">
                                    <button class="btn  btn-info" type="submit" onclick="Clear()" style="color:black;border:0px;font-size:18px;background-color:lightblue">ظهور الكل</button>



                                    <button class="btn  btn-info" type="submit" onclick="ChangeStudentRequestStatus(1)" style="color:black;border:0px;font-size:18px;background-color:lightblue">الطلاب المتقدمين</button>



                                    <button class="btn  btn-info" type="submit" onclick="ChangeStudentRequestStatus(2)" style="color:black;border:0px;font-size:18px;background-color:lightblue">الطلاب غير المتقدمين</button>


                                    <button class="btn  btn-info" type="submit" onclick="ChangeStudentRequestStatus(3)" style="color:black;border:0px;font-size:18px;background-color:lightblue">الطلاب المرفوضين </button>



                                    <button class="btn  btn-info" type="submit" onclick="ChangeStudentRequestStatus(4)" style="color:black;border:0px;font-size:18px;background-color:lightblue">الطلاب المقبولين</button>



                                </div>
                                <br /> <br />
                                <div class="col-sm-6">

                                    <input class="form-control" id="filterInput" type="text" placeholder="البحث بواسطة الاسم أو الرقم الجامعي" aria-label="default input example"><br />

                                    <button class="btn  btn-outline-primary" type="submit" onclick="FillTableSearch()" style="background-color:#e6e291;color:black;border:0px;font-size:18px;">ابحث</button>


                                    <div class="btn-group " role="group" aria-label="Basic radio toggle button group" style:"font-size:18px">

                                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" style="display:none" checked>
                                        <label class="btn btn-outline-primary" for="btnradio1" style="display:none"></label>
                                        &nbsp;&nbsp;
                                        <label class="btn btn-info rounded-start  rounded-end">
                                            <input class="btn btn-info " type="radio" name="status" value="ذكر" onclick="ChangeGender('ذكر')"> الطلاب
                                        </label>
                                        &nbsp;&nbsp;
                                        <label class="btn rounded-start rounded-end" style="background-color:#faa7e7">
                                            <input type="radio" name="status" value="انثى" onclick="ChangeGender('انثى')"> الطالبات
                                        </label>

                                    </div>
                                </div>

                            </div>


                            <div class="card-body">
                            </div>
                            <div class="table-responsive no-radius">

                                <table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%" style="font-size:18px">
                                    <thead>
                                        <tr>

                                            <th>اسم الطالب</th>


                                            <th>الرقم الجامعي</th>


                                            <th>
                                                عدد الساعات
                                                <i class="btn fa-solid fa-arrow-down-long float-l-start fa-xs p-0  " onclick="ChangeUOrDHOUERS(2)"> </i>  <i class=" btn fa-solid fa-arrow-up-long float-l-start fa-xs p-0" onclick="ChangeUOrDHOUERS(1)"></i>
                                            </th>

                                            <th> الجنس </th>

                                            <th>
                                                المعدل التراكمي

                                                <i class="btn fa-solid fa-arrow-down-long float-l-start fa-xs p-0  " onclick="ChangeUOrDGPA(2)"> </i>  <i class=" btn fa-solid fa-arrow-up-long float-l-start fa-xs p-0" onclick="ChangeUOrDGPA(1)"></i>
                                            </th>

                                            <th>رقم الهاتف</th>

                                            <th>البريد الالكتروني</th>

                                            <th> تقديمات الطالب </th>
                                        </tr>

                                    </thead>

                                    <tbody id="Tbody">
                                    </tbody>


                                </table>
                            </div>
                        </div>
                    </div>

                </div>

                


            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
</body>
@section Scripts{



    <script>



        $(function () {
            // Sidebar toggle behavior
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
            });
        });


        var Gender = "";

        var UOrDGPA = 0;

        var UOrDHOUERS = 0;

        var StudentRequestStatus = 0;


        FillTable(Gender, UOrDGPA, UOrDHOUERS, StudentRequestStatus);


        function ChangeStudentRequestStatus(v) {

            StudentRequestStatus = v;

            FillTable(Gender, UOrDGPA, UOrDHOUERS, StudentRequestStatus);
        }


        function ChangeGender(v) {

            Gender = v;


            FillTable(Gender, UOrDGPA, UOrDHOUERS, StudentRequestStatus);
        }


        function ChangeUOrDGPA(x) {

            UOrDGPA = x;


            
            FillTable(Gender, UOrDGPA, UOrDHOUERS, StudentRequestStatus);
        }

        function ChangeUOrDHOUERS(x) {

            UOrDHOUERS = x;



            FillTable(Gender, UOrDGPA, UOrDHOUERS, StudentRequestStatus);
        }

        function Clear() {


            Gender = "";

            UOrDGPA = 0;

            UOrDHOUERS = 0;

            StudentRequestStatus = 0;


            FillTable(Gender, UOrDGPA, UOrDHOUERS, StudentRequestStatus);
        }



        function FillTable(gr, updwG, updwH , StRqSa) {

            var body = "";

            $(document).ready(function () {

                $.ajax({

                    url: "@Url.Action("GetStudentsList")",
                    type: 'GET',
                    dataType: "json",
                    data: { gender: gr, UpdwGPA: updwG, UpdwHOUERS: updwH, StutReqStatus: StRqSa },


                    success: function (data) {

                        $.each(data.students, function (key, value) {

                            console.log(value);


                            body += "<tr> <td class='text - nowrap'>  <div class='font - weight - 600'> <div class='font - weight - 600'> " + value.user.fullName + "</div></div></td>" +
                                "<td class='text - center'>" + value.universityStudentNumber + "</td>"
                                + "<td class='text - nowrap'> " + value.completedHours + "</td>"
                                + "<td class='text - nowrap'> " + value.gender + "</td>"
                                + "<td class='text - nowrap'> " + value.gpa + "</td>"
                                + "<td class='text - nowrap'>" + value.user.phone + "</td>"
                                + "<td class='text - nowrap'>" + value.user.userEmail + '</td><td class=text-center font-weight-600  >' +
                                '<a class="btn btn-outline-primary" href="//localhost:7122/DepartmentUniversity/DetailStudent?id=' +
                                value.traineeId
                                + ' " >تفاصيل الطالب</a>' + '</td></tr>';
                            + "</tr>";


                            //console.log(value);

                        });



                        $("#Tbody").html(body);



                    }


                });

            });

        }




        function FillTableSearch() {

            var NameOrNumber = document.getElementById("filterInput").value;

            if (NameOrNumber == "") {
                return;
            }

            var body = "";

            $(document).ready(function () {

                $.ajax({

                    url: "@Url.Action("GetStudentsByNameOrNumber")",
                    type: 'GET',
                    data: { filter: NameOrNumber },
                    dataType: "json",


                    success: function (data) {

                        $.each(data.students, function (key, value) {



                            body += "<tr> <td class='text - nowrap'>  <div class='font - weight - 600'> <div class='font - weight - 600'> " + value.user.fullName + "</div></div></td>" +
                                "<td class='text - center'>" + value.universityStudentNumber + "</td>"
                                + "<td class='text - nowrap'> " + value.completedHours + "</td>"
                                + "<td class='text - nowrap'> " + value.gender + "</td>"
                                + "<td class='text - nowrap'> " + value.gpa + "</td>"
                                + "<td class='text - nowrap'>" + value.user.phone + "</td>"
                                + "<td class='text - nowrap'>" + value.user.userEmail + '</td><td class=text-center font-weight-600  >' +
                                '<a class="btn btn-outline-primary" href="//localhost:7122/DepartmentUniversity/DetailStudent?id=' +
                                value.traineeId
                                + ' " >تفاصيل الطلب</a>' + '</td></tr>';
                            + "</tr>";

                            //console.log(value);

                        });



                        $("#Tbody").html(body);



                    }


                });

            });

        }




    </script>


    }