@{
    ViewData["Title"] = "الصفحة الرئيسية";
}

<head>

    <link rel="stylesheet" href="~/css/Addbranches.css" asp-append-version="true" />


</head>

<partial name="_Notification" />
<body style="background: linear-gradient(#1c4c64,#5590ad);">

<div class="row" >

    <div class="col-sm-4" style="z-index:2;">

        <div class="vertical-nav bg-white" style="position:absolute" id="sidebar">
            <div class="py-4 px-3 mb-4 bg-light">
                <div class="media d-flex align-items-center">
                    <img src="~/@ViewBag.OrganizationImage" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                    <div class="media-body">
                        <h4 class="m-0">@ViewBag.OrganizationName</h4>
                    </div>
                </div>
            </div>
                <h5> مرحبا بك @ViewBag.Username </h5>
            <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">القائمة</p>

            <ul class="nav flex-column bg-white mb-0">
                <li class="nav-item">
                    <a asp-controller="College" asp-action="Index" class="nav-link text-dark font-italic bg-light">
                        <i class="fa-solid fa-house text-primary"></i>
                        الصفحة الرئيسية
                    </a>
                </li>

                <li class="nav-item" id="fff">
                    <a asp-controller="College" asp-action="ViewDepartmentUser" class="nav-link text-dark font-italic ">
                        <i class="fa-solid fa-building-user"></i>
                            إدارة الموظفين

                    </a>
                </li>

                <li class="nav-item" id="ff2">
                    <a asp-controller="College" asp-action="AddViewDepartmentUni" class="nav-link text-dark font-italic ">
                        <i class="fa-solid fa-person-chalkboard"></i>
                        إدارة الاقسام
                    </a>
                </li>
                <li class="nav-item" id="ff3">
                        <a asp-controller="College" asp-action="ViewDepartmentFiledSpecialties" class="nav-link text-dark font-italic ">
                            <i class="fa-solid fa-person-chalkboard"></i>
                            إدارة التخصصات
                        </a>
                    </li>
            </ul>
                <div>
                    <a class="btn " id="btn1">
                        <i class="fa-solid fa-person-circle-question"></i>
                        احتاج مساعدة

                    </a>
                </div>
        </div>

        <!-- End vertical navbar1 -->
        <!-- Page content holder1 -->
        <div class="page-content p-1" id="content">
            <!-- Toggle button1 -->
            <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">القائمة</small></button>
        </div>


    </div>

    <div class="col-sm-6">


        @*        content page heree
        *@
    </div>
    <div class="col-sm-2"></div>
</div>
</body>

@section Scripts{



    <script>
        $(function () {
            // Sidebar toggle behaviorr
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
            });
        });


        // giude tour
        document.getElementById('btn1')
            .addEventListener('click', function (event) {
                event.stopPropagation();

                const driver = new Driver();
                // Define Steps

                animate: false
                driver.defineSteps([
                    {
                        element: '#fff',
                        popover: {
                            //className: 'first-step-popover-class',
                            title: 'أولاً  : اضافة موظف مسؤول عن قسم',
                            description: 'الرجاء اضافة المسؤول عن القسم  ليتم تعيينه بالقسم المناسب لاحقاً',
                            position: 'left',
                            closeBtnText: 'اغلق', // Text on the close button for this step
                            nextBtnText: 'التالي', // Next button text for this step
                            prevBtnText: 'السابق', // Previous button text for this step
                            doneBtnText: 'انتهيت', // Text on the final button


                        }
                    },
                    {
                        element: '#ff2',
                        popover: {
                           
                            title: ' ثانياً : اضف القسم  ',
                            description: 'الرجاء اضافة القسم وتعيين مسؤول عن هذا القسم ',
                            position: 'left',
                            closeBtnText: 'اغلق', // Text on the close button for this step
                            nextBtnText: 'التالي', // Next button text for this step
                            prevBtnText: 'السابق', // Previous button text for this step
                            doneBtnText: 'انتهيت', // Text on the final button

                        }
                    },
                    {
                        element: '#ff3',
                        popover: {
                            title: 'ثالثاً : اضف المجالات حسب كل قسم   ',
                            description: ' الرجاء اضافة جميع التخصصات التي يمتلكها القسم .. علما بأنه سيظهر لطلاب هذا القسم الفرص المتوافقة مع التخصصات ',

                           
                            position: 'left',
                            closeBtnText: 'اغلق', // Text on the close button for this step
                            doneBtnText: 'انتهيت', // Text on the final button

                            nextBtnText: 'التالي', // Next button text for this step
                            prevBtnText: 'السابق', // Previous button text for this step
                        }
                    },

                ]);
                // Begin to guide
                driver.start();






            });
    </script>


    }