@model UniversityTraineeStudent
@{
    ViewData["Title"] = "تعديل الحساب";
}

<head>

    <link rel="stylesheet" href="~/css/Addbranches.css" asp-append-version="true" />


</head>

<partial name="_Notification" />
<body style="background: linear-gradient(#1c4c64,#5590ad);">

    <div class="row">


        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="card" style="border-radius: 25px; margin-top:2cm; margin-bottom:3cm; padding:5px 5px 5px 5px ; border-color:black;background-color:#dfebf2">
                <div class="card-body p-5">
                    <h2 class=" text-center mb-5"> تعديل المعلومات</h2>

                    <form asp-controller="Student" asp-action="EditAccount" method="post" class="needs-validation" enctype="multipart/form-data" novalidate>
                        <input asp-for="@Model.TraineeId" hidden />
                        <div class="row">

                            <div class=" mb-4 pb-2">
                                <br />

                                <div class="form-outline" style="text-align: center;">

                                    <label class="form-label" for="FullName" style="font-size:30px;">مرحبا @ViewBag.Username  </label>


                                </div>


                            </div>

                        </div>




                        <div class="mb-4 pb-2">
                            <i class="fa-solid fa-lock"></i>
                            <label class="form-label" for="UserPassword" style="font-size:20px;"> كلمة المرور الجديدة <span style="color:red">* </span> </label>
                            <input type="password" id="UserPasswordID" class="form-control form-control-lg" />
                            <div class="invalid-feedback" id="PasswordMassage" style="text-align: right;"> الرجاء إدخال كلمة المرور </div>

                        </div>

                        <div class="mb-4 pb-2">
                            <i class="fa-solid fa-lock"></i>
                            <label class="form-label" for="ConfirmUserPassword" style="font-size:20px;">تأكيد كلمة المرور <span style="color:red">* </span> </label>
                            <input asp-for="user.UserPassword" type="password" type="password" id="ConfirmUserPasswordID" class="form-control form-control-lg" />
                            <div class="invalid-feedback" id="ConfirmPasswordMassage" style="text-align: right;"> الرجاء تأكيد كلمة المرور </div>
                        </div>

                        <div class="mb-4 pb-2">
                            <i class="fa-solid fa-lock"></i>
                            <label class="form-label" for="Skils" style="font-size:20px;">وصف المهارات </label>
                            <textarea id="Skils" asp-for="SkillsDescription" class="form-control form-control-lg"></textarea>
                        </div>

                        <div class="mb-4 pb-2">

                            <label for="LogoPathFile" class="form-label mt-4" style="font-size:20px;">  إرفاق السيرة الذاتية <span style="color:red">* </span> </label>

                            @* //(imgFile)هنا اسم الملف الصورة مهم يطابق الاسم في الكنترولر لنه سيتم ارساله مع المودل.*@
                            <input type="file" id="uploadField" name="CvFile" class="form-control" accept=".pdf" />
                            <div class="invalid-feedback" style="text-align: right;"> الرجاء إرفاق الملف بصيغة(.pdf) </div>

                        </div>

                        <div class="mb-4 pb-2">

                            <label for="uploadFieldop" class="form-label mt-4" style="font-size:20px;"> إرفاق ملفات اخرى</label>

                            @* //(imgFile)هنا اسم الملف الصورة مهم يطابق الاسم في الكنترولر لنه سيتم ارساله مع المودل.*@
                            <input type="file" id="uploadFieldoptianl" name="otherDoc" class="form-control" accept=".pdf" />
                        </div>

                        <br />
                        <div class="row">

                            <button type="submit" class="btn" style="background-color:#e6e291; font-size:18px;">تعديل</button>

                        </div>


                    </form>

                </div>
            </div>

        </div>

        <div class="col-sm-2"></div>

    </div>
</body>
@section Scripts{



    <script>

        (function () {

            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {

                        if (!form.checkValidity()) {

                            event.preventDefault();
                            event.stopPropagation();
                        }
                        if (CustomValidation3()) {

                            event.preventDefault();
                            event.stopPropagation();
                        }




                        form.classList.add('was-validated')
                    }, false)
                })
        })()


        //document.querySelector('#UserEmailID').addEventListener('blur', CustomValidation);


        function CustomValidation3() {

            var password = document.getElementById("UserPasswordID");
            var confirmPassword = document.getElementById("ConfirmUserPasswordID");
            var CMassage = document.getElementById("ConfirmPasswordMassage");

            if (password.value !== confirmPassword.value) {

                confirmPassword.classList.remove('is-valid');
                confirmPassword.classList.add('is-invalid');

                CMassage.innerHTML = "يجب أن تكون كلمة المرور متطابقة";
                return true;
            }
            else {

                confirmPassword.classList.add('is-valid');

                confirmPassword.classList.remove('is-invalid');

                CMassage.innerHTML = "الرجاء تأكيد كلمة المرور";


            }

            return false;

        }








        //-------------انتهاء كود البوتستراب للتحقق------------------------

        //------------للتأكد من مدخل الصوره هل فارغ أو لا عن طريق طريقة SweetAlert------------------

        function ValidateInputImage() {
            if (document.getElementById("uploadField").value == "") {


                Swal.fire({
                    icon: 'error',
                    title: '..حدث خطأ ',
                    text: 'الرجاء إرفاق السيرة الذاتية لإكمال التعديل',
                })
            }

        }


    </script>


    }

