@model TrainingOpportunityVM



@{
    ViewData["Title"] = "معلومات الفرصة";
}

<head>

    <link rel="stylesheet" href="~/css/Addbranches.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/boostwatch.css" />


</head>

<partial name="_Notification" />
<body style="background: linear-gradient(#1c4c64,#5590ad); background-repeat: no-repeat;
            background-size: cover;
            height: 100vh; width: 100vw; /*padding:50px 5px 5px 5px;*/">

    <div class="row">

        <div class="col-sm-2" style="z-index:2;">

            <div class="vertical-nav bg-white" id="sidebar">
                <div class="py-4 px-3 mb-4 bg-light">
                    <div class="media d-flex align-items-center">
                        <img src="~/@ViewBag.OrganizationImage" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                        <div class="media-body">
                            <h4 class="m-0">@ViewBag.OrganizationName</h4>
                        </div>
                    </div>
                </div>
                <h5> مرحبا بك @ViewBag.Username </h5>

                <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">القائمة</p>


                <ul class="nav flex-column bg-white mb-0">
                    <li class="nav-item">
                        <a asp-controller="" asp-action="" class="nav-link text-dark font-italic bg-light">
                            <i class="fa-solid fa-house text-primary"></i>
                            الصفحة الرئيسية
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="" asp-action="" class="nav-link text-dark font-italic ">
                            <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                            إدارة الاقسام
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="" asp-action="" class="nav-link text-dark font-italic ">
                            <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
                            ارفاق التقارير
                        </a>
                    </li>

                </ul>




            </div>


            <!-- End vertical navbar -->
            <!-- Page content holder -->
            <div class="page-content p-1" id="content">
                <!-- Toggle button -->
                <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">القائمة</small></button>
            </div>


        </div>

        <div class="col-sm-8">

            <form method="post">
                <div class="card  container pt-4">
                    <div class="card-header  ml-0  row " style="background-color:#325D73">
                        <div class="col-12 col-md-6 text-end pt-4" style="color:white">
                            <h5>
                                التخصص: الاتصالات وشبكات الحاسب الالي
                                @*@Model.TrainingOpportunity.DetailFiled_DetailFiledId*@
                            </h5>

                        </div>
                        <div class="col-12 col-md-6 text-end pt-4" style="color:white">
                            <h5>نوع التدريب: تدريب تعاوني @*@Model.TrainingOpportunity.TrainingType_TrainingTypeId*@</h5>

                        </div>
                    </div>
                    <div class="card-body row container">
                        <div class="container rounded p-2">
                            <div class="row">
                                <div class="col-12 col-lg-3 offset-lg-1 text-center">
                                    <img src="/images/AppImages/log.png" width="100%" height="100%" title="" alt="" style="position:center">
                                </div>
                                <div class="col-8 col-lg-8">

                                    <div class="row text-center pl-2 " style="font-size:25px">
                                        <div class="p-1 col-3 bg-secondary border-bottom">
                                            <div>بدايةالتقديم:  @*@Model.TrainingOpportunity.StartRegisterDate*@</div>
                                        </div>
                                        <div class="p-1 col-3 bg-secondary border-bottom">
                                            <div>نهايةالتقديم:  @*@Model.TrainingOpportunity.EndRegisterDate*@</div>
                                        </div>
                                        <div class="p-1 col-3 bg-secondary border-bottom">
                                            <div>عدد المقاعد: </div>
                                        </div>
                                        <div class="p-1 col-3 bg-secondary border-bottom">
                                            <div>المدينة: </div>
                                        </div>
                                    </div>

                                    <div class="row text-center pl-2" style="color:darkslateblue; font-weight:bold; font-size:20px">
                                        <div class="p-1 col-3 bg-secondary">
                                            <div>  5/15/2023@*@Model.TrainingOpportunity.StartRegisterDate*@</div>
                                        </div>
                                        <div class="p-1 col-3 bg-secondary">
                                            <div>  5/20/2023@*@Model.TrainingOpportunity.EndRegisterDate*@</div>
                                        </div>
                                        <div class="p-1 col-3 bg-secondary">
                                            <div>55</div>
                                        </div>
                                        <div class="p-1 col-3 bg-secondary">
                                            <div>الرياض</div>
                                        </div>
                                    </div>



                                    <div class="row text-center pl-2" style="font-size:25px">
                                        <div class="p-1 col-3 bg-secondary border-bottom">
                                            <div>بدايةالتدريب: @*@Model.TrainingOpportunity.StartRegisterDate*@</div>
                                        </div>
                                        <div class="p-1 col-3 bg-secondary border-bottom">
                                            <div>نهايةالتدريب: @*@Model.TrainingOpportunity.EndRegisterDate*@</div>
                                        </div>
                                        <div class="p-1 col-3 bg-secondary border-bottom">
                                            <div>عدد الاسابيع:</div>
                                        </div>
                                        <div class="p-1 col-3 bg-secondary border-bottom">
                                            <div>عدد الساعات:</div>
                                        </div>
                                    </div>

                                    <div class="row text-center pl-2" style="color:darkslateblue; font-weight:bold; font-size:20px">
                                        <div class="p-1 col-3 bg-secondary">
                                            <div> 5/22/2023</div>
                                        </div>
                                        <div class="p-1 col-3 bg-secondary">
                                            <div> 5/26/2023</div>
                                        </div>
                                        <div class="p-1 col-3 bg-secondary">
                                            <div>6</div>
                                        </div>
                                        <div class="p-1 col-3 bg-secondary">
                                            <div>155 ساعة</div>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row pl-2   ">
                                        <p class="text-secondary h5">وصف الفرصة :</p>
                                        <p>يشير مصطلح شبكة الكمبيوتر إلى أجهزة الحوسبة المتصلة ببعضها، التي تتبادل المعلومات فيما بينها وتشارك الموارد مع بعضها. تستخدم هذه الأجهزة المتصلة بالشبكة نظامًا من القواعد يُسمى بروتوكولات الاتصال، من أجل نقل المعلومات عبر التكنولوجيات المادية أو اللاسلكية.</p>
                                    </div>
                                    <br /><br /><br />
                                    <div class="row pl-2  h5">
                                        <p class="text-secondary">الموقع :</p>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>



                    <br /><br /><br /><br /><br /><br />
                    <div class="card-footer align-content-center">
                        <div class="row ">
                            <div class="col-md-12">
                                <br />
                                <div class="form-group ">

                                    <a type="button" style="font-size:20px" class="btn btn-primary btn-lg">قبول الطلب</a>
                                    &nbsp;&nbsp;

                                    <a type="button" style="font-size:20px" class="btn btn-secondary btn-lg ">رفض الطلب</a>

                                </div>

                            </div>

                        </div>
                        <br />
                    </div>
                </div>
            </form>
        </div>



    </div>
    <br />
    <br />





    <div class="col-sm-2"></div>
    </div>

</body>

@section Scripts{



    <script>
        $(function () {
            // Sidebar toggle behavior
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
            });
        });

    </script>


    }
