@model StudentSemesterEvaluationMark

@{
    ViewData["Title"] = "تسليم التقرير";
}

<head>

    <link rel="stylesheet" href="~/css/Addbranches.css" asp-append-version="true" />


</head>

@{
    var SohwForm = "";

    var ShowDoc = "";

    if (!String.IsNullOrEmpty(Model.SupportiveDocumentsPath))
    {
        SohwForm = "none";
        ShowDoc = "block";
    }
    else
    {
        ShowDoc = "none";
        SohwForm = "block";
    }
}

<body style="background: linear-gradient(#1c4c64,#5590ad);">

    <div class="row">

        <div class="col-sm-3" style="z-index:2;">

            <div class="vertical-nav bg-white" id="sidebar">
                <div class="py-4 px-3 mb-4 bg-light">
                    <div class="media d-flex align-items-center">
                        <img src="~/@ViewBag.OrganizationImage" alt="..." width="65" class="mr-3 rounded-circle img-thumbnail shadow-sm">
                        <div class="media-body">
                            <h4 class="m-0">@ViewBag.OrganizationName</h4>
                        </div>
                    </div>
                </div>
                <h5> مرحبا بك @ViewBag.Username </h5>
                <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">القائمة</p>

                <ul class="nav flex-column bg-white mb-0">
                    <li class="nav-item">
                        <a asp-action="index" class="nav-link text-dark font-italic ">
                            <i class="fa-solid fa-house "></i>
                            الصفحة الرئيسية
                        </a>
                    </li>

                    <li class="nav-item">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="color:black" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa-solid fa-bars-progress"></i>

                            إدارة الفرص

                        </a>
                        <div class="dropdown-menu" style="">

                            <a class="dropdown-item" asp-action="ViewOpportunities" style="color:black">عرض الفرص الجديدة </a>
                            <a class=" dropdown-item" asp-action="ViewOpportunitiesStatus" style="color:black"> عرض حالة القبول </a>

                        </div>

                    </li>

                    <li class="nav-item">
                        <a asp-controller="Student" asp-action="ViewAssignments" class="nav-link text-dark font-italic bg-light ">
                            <i class="fa-solid fa-file-circle-plus text-primary"></i>
                            ارفاق التقارير
                        </a>
                    </li>


                </ul>


            </div>


            <!-- End vertical navbar -->
            <!-- Page content holder -->
            <div class="page-content p-1" id="content">
                <!-- Toggle button -->
                <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">القائمة</small></button>
            </div>


        </div>

        <div class="col-sm-8">
            <div class="card" style="border-radius: 25px; margin-top:2cm; margin-bottom:3cm;  border-color:black;background-color:#f2f5fa">

                <div class="card">

                    <div class="card" style="background-color:#5590ad;">
                        <br />

                        <h3 style="text-align: center;color:white">تفاصيل التقرير</h3>
                        <div class="card-header" style="text-align: center;">


                            <a class="btn  float-start" asp-action="ViewAssignments" style="background-color:gray"><i class="fa-solid fa-circle-left fa-lg" style="color: #ffffff;"></i></a>


                        </div>
                       


                    </div>
                    <br /><br />
                    <div class="row">

                        <div class=" mb-4 pb-2">


                            <div class="form-outline" style="text-align: right;margin-right:1cm">

                                <h5 class="form-label" for="FullName" style="font-size:25px;">نوع التقرير:</h5>
                                <h5> @Model.assessmentTypeDetail.assessmentType.AssessmentTypeName</h5>

                                @{
                                    var stdmark = "لم يتم التقيم";
                                    if (Model.StudentMark != null)
                                        stdmark = Model.StudentMark.ToString();
                                }
                            </div>


                        </div>

                    </div>

                    <div class="mb-4 pb-2" style="text-align: right;margin-right:1cm">

                        <h5 class="form-label" for="EmployeeSSN" style="font-size:25px;">الدرجة:</h5>
                        <h5> @stdmark من اصل @Model.assessmentTypeDetail.RequiredMark</h5>
                    </div>


                    <form asp-controller="Student" asp-action="SubmitAssignment" method="post" enctype="multipart/form-data" id="form" style="display:@SohwForm; margin-right:1cm" class="needs-validation" novalidate>


                        <div class="mb-3" style="">

                            <h5 for="uploadField" class="form-label">ارفاق ملف التقرير</h5>
                            <input type="file" id="uploadField" name="ReportFile" class="form-control" accept=".pdf" style="width:10cm" required />
                            <div class="invalid-feedback" style="text-align: right;"> الرجاء إرفاق الملف بصيغة(.pdf) </div>


                        </div>

                        <input asp-for="StudentSemesterEvaluationMarkId" hidden />
                        <input asp-for="SemesterStudentAndEvaluationDetail_DetailId" hidden />
                        <input asp-for="DepartmentAssessmentTypeDetail_DetailId" hidden />
                        <input asp-for="StudentMark" hidden />
                        <input asp-for="SupportiveDocumentsPath" hidden id="HasFile" />

                        <button type="submit" class="btn " style="background-color:#e6e291"> إرفاق التقرير</button>
                    </form>

                    <br />

                    <div class="container-fluid" id="filediv" style="display:@ShowDoc; height:50vh;">
                        <iframe src="~/@Model.SupportiveDocumentsPath" type="application/pdf" style="border:none; height:100%; width:100%"></iframe>
                    </div>

                     <br /> <br /> <br />
                </div>



                
                <div class="row">
                </div>
            </div>

        </div>

        <div class="col-sm-1"></div>
    </div>
</body>


@section Scripts
    {

    <script>
        $(function () {
            // Sidebar toggle behavior
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
            });
        });


        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()

        // ViewUploadShowfile();

         //function ViewUploadShowfile()

         //{

         //    if (document.getElementById('HasFile').value == "")
         //    {

         //        document.getElementById('form').style.display = "block";
         //        document.getElementById('filediv').style.display = "none";

         //    }else
         //    {
         //        document.getElementById('filediv').style.display = "block";
         //        document.getElementById('form').style.display = "none";
         //    }
         //}

        //for moving navbar side

        

    </script>
}